
<div class="row container">
  <div class="jumbotron" >
    <h1 class="title" >sushi</h1>
    <p class="slogan">sushi 是一个提供日料自助的网站。
    <br>
    我们希望藉由这个网站，能让大家简单又高效的完成点餐的动作。
    <br>
     吃的开心，用的顺心！
    </p>


    <%= link_to("我要点餐", products_path) %>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fg2dg3n5k5j303c03daa0.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>刺身 三文鱼 甜虾 牡丹虾 虎虾 北极贝 鲍鱼片 蟓拔 都好鲜甜 吃了3盘刺身 鲍鱼片有惊喜 自带鲜甜 三文鱼也是连吃3盘吃够了 蟹不太新鲜 太软绵了
黑糖网烧牛肉 薄切的略带甜味 一份3片好吃不腻 </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fg2dklp5ovj303c0380tb.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>最喜欢他家的焗生蚝表面焗了一层类似芝士口感的蛋类 烤得焦黄 咬一口有汁溢出来口感很绵密 反正是最爱的单品。不过吃多有些腻。
              只是Size太mini，可以多点一些呀。
              印象深刻的是烤温室菠萝还不错。</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg2dkyyb0oj303a03cmx5.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>刺身很多，甜虾，带子，北极贝，三文鱼什么的任点任加，不会漏单，也很新鲜。但是有一些像海胆，鳗鱼什么的只有寿司和手卷，无法单点，所以想吃就只能跟饭一起吃了。
                寿司的话饭倒不多，手卷里的饭多一点。
                烧烤里喜欢牛舌和羊排。牛舌厚实，有淡淡的牛奶味，羊排肉嫩，香。</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

</div>
