
<div class="row container">
  <div class="jumbotron" >
    <h1 class="title" >お帰りなさい！欢迎回家！</h1>
    <p class="slogan">回家吃饭想必是大家最放松也最享受的时候了。
    <br>
    我们希望在Sushi也能给你在家的感受。在线自助下单，简单又高效。
    <br>

    </p>


    <%= link_to("等不及啦！我要点餐", products_path) %>
  </div>
<!--
  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fg2dg3n5k5j303c03daa0.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>刺身 三文鱼 甜虾 牡丹虾 虎虾 北极贝 鲍鱼片 蟓拔 都好鲜甜 吃了3盘刺身 鲍鱼片有惊喜 自带鲜甜 三文鱼也是连吃3盘吃够了 蟹不太新鲜 太软绵了
黑糖网烧牛肉 薄切的略带甜味 一份3片好吃不腻 </h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fg2dklp5ovj303c0380tb.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>最喜欢他家的焗生蚝表面焗了一层类似芝士口感的蛋类 烤得焦黄 咬一口有汁溢出来口感很绵密 反正是最爱的单品。不过吃多有些腻。
              只是Size太mini，可以多点一些呀。
              印象深刻的是烤温室菠萝还不错。</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg2dkyyb0oj303a03cmx5.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>刺身很多，甜虾，带子，北极贝，三文鱼什么的任点任加，不会漏单，也很新鲜。但是有一些像海胆，鳗鱼什么的只有寿司和手卷，无法单点，所以想吃就只能跟饭一起吃了。
                寿司的话饭倒不多，手卷里的饭多一点。
                烧烤里喜欢牛舌和羊排。牛舌厚实，有淡淡的牛奶味，羊排肉嫩，香。</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

</div> -->

<div class="container" style="padding-top:30px">
    <h1 class="text-center">听听我们的食客怎么说</h1>
	<div class="row">
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    最喜欢店里的牛舌和羊排。牛舌厚实，有淡淡的牛奶味，羊排肉嫩，香。刺身和手卷也都很新鲜，每次来都吃的很满足，圆滚滚的回去。
            	</div>
                <div class="testimonial-desc">
                    <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fg2q02216ej309t08zwjb.jpg" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">小羊</div>
                    	<div class="testimonial-writer-designation">别看我美美，其实我很能吃o </div>
                    	<a href="#" class="testimonial-writer-company">爱好美食美发的程序员</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-primary">
                <div class="testimonial-section">
                  他家的焗生蚝表面焗了一层类似芝士口感的蛋类，烤得焦黄，咬一口有汁溢出来口感很绵密，这可是我最爱的单品。
                </div>
                <div class="testimonial-desc">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fg2ort74iij30dc07hgm7.jpg" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">阿兜</div>
                    	<div class="testimonial-writer-designation">全身心喜欢小羊</div>
                    	<a href="#" class="testimonial-writer-company">爱疯跑爱运动的健身教练</a>
                    </div>
                </div>
            </div>
		</div>


        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-info">
                <div class="testimonial-section">
                  妈妈最爱刺身～三文鱼 甜虾 牡丹虾 虎虾 北极贝 鲍鱼片 蟓拔 都好鲜甜 吃了3盘刺身 鲍鱼片有惊喜 自带鲜甜。
                </div>
                <div class="testimonial-desc">
                    <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fg2orst745j30qo0hstbp.jpg" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">新月</div>
                    	<div class="testimonial-writer-designation">不要看我比哥哥姐姐们个小，我聪明着呢！</div>
                    	<a href="#" class="testimonial-writer-company">哈doglife的新成员</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-success">
                <div class="testimonial-section">
                  比较有惊喜的是他们家牛肉，一个是牛肉寿喜锅，味道正宗且牛肉肥瘦均匀，很有口感。另外一个好像叫黑糖网烧牛肉，跟寿喜锅的牛肉不一样，属于比较嫩口的，调味适中，入口会有一点融化的感觉。当然不能跟A4牛比，想想这是自助餐。
                </div>
                <div class="testimonial-desc">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fg2orqbshej30qo0hsq5n.jpg" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">张美琪</div>
                    	<div class="testimonial-writer-designation">美美的美琪是麻麻的大宝贝</div>
                    	<a href="#" class="testimonial-writer-company">好像是吉祥物来的</a>
                    </div>
                </div>
            </div>
		</div>

      
  <div >
   <%= link_to("越看越饿！我要点餐", products_path) %>
 </div>

    <br/>
    <br/>
    <h1 class="text-center">Filled Style</h1>
    <div class="row">
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-primary-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-info-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-success-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-danger-filled">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<div >
 <%= link_to("你真有耐心！还不赶紧点餐？", products_path) %>
</div>
