<footer class="container" style="margin-top; 100px;">
  <p class="text-center">Copyright ©2017 sushi
          <br>Design by
          <a href="http://mayue-1215@logdown.com" target=_new>mayue</a>
      </p>
</footer
